# 0.回顾numpy的级联
- 1.生成2各3*3的矩阵，对其分别进行两个维度上的级联

In [1]:
import numpy as np
import pandas as pd

In [2]:
nd = np.random.randint(0,10,size=(3,3))
nd

array([[1, 8, 5],
       [7, 0, 6],
       [6, 4, 6]])

In [3]:
nd1 = np.random.randint(0,10,size=(3,3))
nd1

array([[0, 4, 7],
       [2, 5, 3],
       [9, 1, 6]])

In [4]:
#0是第一维的方向：行
np.concatenate((nd,nd1),axis=0)

array([[1, 8, 5],
       [7, 0, 6],
       [6, 4, 6],
       [0, 4, 7],
       [2, 5, 3],
       [9, 1, 6]])

In [6]:
np.concatenate((nd,nd1),axis=1)

array([[1, 8, 5, 0, 4, 7],
       [7, 0, 6, 2, 5, 3],
       [6, 4, 6, 9, 1, 6]])

- 定义生成一个DataFrame的函数：

In [9]:
def make_df(cols,inds):
    data = {c:[c+str(i) for i in inds] for c in cols}
    return pd.DataFrame(data,index = inds,columns = cols)

In [10]:
make_df(['A','B'],[1,2])

    A   B
1  A1  B1
2  A2  B2

# 1.使用pd.concat()级联
- Pandas使用pd.concat函数，与np.concatenate函数类似，只是多了一些参数：
```python
Signature: pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
Docstring:
Concatenate pandas objects along a particular axis with optional set logic
```
## 1.1简单级联
- 和np.concatenate一样，优先增加行数(默认axis=0)

In [11]:
df1 = make_df(list('AB'),[0,1])
df2 = make_df(list('AB'),[2,3])
pd.concat([df1,df2])

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [12]:
pd.concat((df1,df2))

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [13]:
#可以通过设置axis来改变级联方向
pd.concat((df1,df2),axis=1)

     A    B    A    B
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2  NaN  NaN   A2   B2
3  NaN  NaN   A3   B3

In [14]:
# 注意，index在级联时是可以重复的
df3 = make_df(list('AB'),[0,1,2])
df4 = make_df(list('AB'),[1,2,3])

In [17]:
df5 = pd.concat((df3,df4))
df5

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
1  A1  B1
2  A2  B2
3  A3  B3

In [20]:
df5.loc[[1,2]]

    A   B
1  A1  B1
1  A1  B1
2  A2  B2
2  A2  B2

In [21]:
#可以选择忽略ignore_index,重新索引
pd.concat((df3,df4),ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A1  B1
4  A2  B2
5  A3  B3

In [24]:
#或者使用多层索引keys
x = make_df(list('XY'),['a','b'])
y = make_df(list('XY'),['A','B'])
pd.concat((x,y))

    X   Y
a  Xa  Ya
b  Xb  Yb
A  XA  YA
B  XB  YB

In [25]:
#keys可是增加索引，使得合并后的数据更清晰
pd.concat((x,y),keys=['x','y'])

      X   Y
x a  Xa  Ya
  b  Xb  Yb
y A  XA  YA
  B  XB  YB